body {
  width: 500px;
  margin: 0 auto;
  background-color: #04A6EB;
  color: #FDFFFF;
}

button {
  padding: 5px 20px;
  background-color: #337AB7;
  border-style: none;
  color: #FDFFFF;
}

input {
  height: 20px;
}
